body {
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 20px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.search {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.logo {
    padding-bottom: 30px;
}

.search-bar {
    width: 575px;
    height: 50PX;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.308);
    margin: auto;
}

.search-bar:hover {
    box-shadow: 0px 1px 5px rgba(148, 148, 148, 0.541);
}

input[type=text] {
    background-image: url('cssicons/search_black_24dp.svg');
    background-repeat: no-repeat;
    background-position: 10px 15px;
    background-size: 20px;
    padding-left: 40px;
    font-size: 16px;
    text-decoration: none;
}

input:focus {
    outline: none;
}

.button {
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 15px;
}

.submit {
    display: inline-block;
    padding: 7px 12px;
    font-size: 14px;
    font-family: 'arial', sans-serif;
    border: none;
    color: rgb(56, 56, 56);
}

.submit:hover {
    box-shadow: 0px 1px 5px rgba(77, 76, 76, 0.541);
    cursor: pointer;
}